= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_field :text, class: "form-control new-comment-field", placeholder: t('.new_comment')
  .form-group
    = f.hidden_field :theme_id
  .form-group
    = f.submit t('.post_comment'), class: "btn btn-large btn-primary"
