%h1= @theme.name
.container
  .grid
    - @theme.images.each do |image|
      .cell
        %a{href: url_for(image)}
          = image_tag image.file, class: 'responsive-image'

.comments-container
  .comments-grid
    - @theme.comments.each do |comment|
      .comments-cell
        .comment-author
          = gravatar_for comment.user
        = comment.text

.new-comment-form
  - if current_user
    = render 'comments/form'
